/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg.jpg");
   

}
.titulo{
font-size: 70px;
color: rgb(178, 84, 255);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.titulo2{
    font-size: 60px;
    color: rgb(178, 84, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo3{
    font-size: 80px;
    color: rgb(178, 84, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inicio{
    width: 800px;
    height: 800px;
    background-image: url("inicio.jpg.jpg");
    background-repeat: no-repeat;
    margin: 90px;

}

.biolo1{
    width: 800px;
    height: 600px;
    background-image: url("biolo1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.mapabiolo{
    width: 800px;
    height: 700px;
    background-image: url("mapamentalbiolo.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.titulo4{
    font-size: 50px;
    color: rgb(178, 84, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.enlace1{
    width: 700px;
    height: 400px;
    background-image: url("enlace1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.enlace2{
    width: 700px;
    height: 400px;
    background-image: url("enlace2.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.enlace3{
    width: 700px;
    height: 550px;
    background-image: url("enlace3.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.mapaqui{
    width: 800px;
    height: 600px;
    background-image: url("mapamentalqui.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion1{
    width: 600px;
    height: 200px;
    background-image: url("funcion1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion2{
    width: 600px;
    height: 350px;
    background-image: url("funcion2.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion3{
    width: 600px;
    height: 300px;
    background-image: url("funcion3.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion4{
    width: 600px;
    height: 250px;
    background-image: url("funcion4.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion5{
    width: 600px;
    height: 300px;
    background-image: url("funcion5.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.contacto1{
    width: 600px;
    height: 600px;
    background-image: url("contacto1.jpg");
    background-repeat: no-repeat;
    margin: 90px;

}

.regla1{
    width: 600px;
    height: 250px;
    background-image: url("regla1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.regla2{
    width: 600px;
    height: 250px;
    background-image: url("regla2.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.regla3{
    width: 600px;
    height: 250px;
    background-image: url("regla3.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.regla4{
    width: 600px;
    height: 300px;
    background-image: url("regla4.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.regla5{
    width: 600px;
    height: 300px;
    background-image: url("regla5.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.regla6{
    width: 600px;
    height: 300px;
    background-image: url("regla6.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}



.mate1{
    height: 110px;
    width: 800px;
    background-image: url("mate1.jpg");
    background-repeat: no-repeat;
}
.mate2{
    height: 100px;
    width: 800px;
    background-image: url("mate2.jpg");
    background-repeat: no-repeat;

}
.mate3{
    height: 100px;
    width: 800px;
    background-image: url("mate3.jpg");
    background-repeat: no-repeat;
}
.mate4{
    height: 100px;
    width: 800px;
    background-image: url("mate4.jpg");
    background-repeat: no-repeat;
}
.mate5{
    height: 300px;
    width: 800px;
    background-image: url("mate5.jpg");
    background-repeat: no-repeat;
}
.mate6{
    height: 400px;
    width: 800px;
    background-image: url("mate6.jpg");
    background-repeat: no-repeat;
}
.mate7{
    height: 100px;
    width: 800px;
    background-image: url("mate7.jpg");
    background-repeat: no-repeat;
}
.mate8{
    height: 100px;
    width: 800px;
    background-image: url("mate8.jpg");
    background-repeat: no-repeat;
}
.mate9{
    height: 250px;
    width: 800px;
    background-image: url("mate9.jpg");
    background-repeat: no-repeat;
}
.mate10{
    height: 250px;
    width: 800px;
    background-image: url("mate10.jpg");
    background-repeat: no-repeat;
}
.mate11{
    height: 250px;
    width: 800px;
    background-image: url("mate11.jpg");
    background-repeat: no-repeat;
}
.mate12{
    height: 250px;
    width: 800px;
    background-image: url("mate12.jpg");
    background-repeat: no-repeat;
}
.mate13{
    height: 250px;
    width: 800px;
    background-image: url("mate13.jpg");
    background-repeat: no-repeat;
}
.mate14{
    height: 200px;
    width: 800px;
    background-image: url("mate14.jpg");
    background-repeat: no-repeat;
}
.mate15{
    height: 250px;
    width: 800px;
    background-image: url("mate15.jpg");
    background-repeat: no-repeat;
}
.mate16{
    height: 250px;
    width: 800px;
    background-image: url("mate16.jpg");
    background-repeat: no-repeat;
}
.mate17{
    height: 350px;
    width: 800px;
    background-image: url("mate17.jpg");
    background-repeat: no-repeat;
}
.mate18{
    height: 350px;
    width: 800px;
    background-image: url("mate18.jpg");
    background-repeat: no-repeat;
}
.mate19{
    height: 350px;
    width: 800px;
    background-image: url("mate19.jpg");
    background-repeat: no-repeat;
}
.mate20{
    height: 400px;
    width: 800px;
    background-image: url("mate20.jpg");
    background-repeat: no-repeat;
}
.mate21{
    height: 250px;
    width: 800px;
    background-image: url("mate21.jpg");
    background-repeat: no-repeat;
}
.mate22{
    height: 350px;
    width: 800px;
    background-image: url("mate22.jpg");
    background-repeat: no-repeat;
}


