/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.jpg.jpg");
   

}
.titulo{
font-size: 70px;
color: rgb(178, 84, 255);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.titulo2{
    font-size: 60px;
    color: rgb(178, 84, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo3{
    font-size: 80px;
    color: rgb(178, 84, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inicio{
    width: 800px;
    height: 800px;
    background-image: url("inicio.jpg.jpg");
    background-repeat: no-repeat;
    margin: 90px;

}

.biolo1{
    width: 800px;
    height: 600px;
    background-image: url("biolo1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.mapabiolo{
    width: 800px;
    height: 700px;
    background-image: url("mapamentalbiolo.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.titulo4{
    font-size: 50px;
    color: rgb(178, 84, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.enlace1{
    width: 700px;
    height: 400px;
    background-image: url("enlace1.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.enlace2{
    width: 700px;
    height: 400px;
    background-image: url("enlace2.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.enlace3{
    width: 700px;
    height: 550px;
    background-image: url("enlace3.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.mapaqui{
    width: 800px;
    height: 600px;
    background-image: url("mapamentalqui.jpg");
    background-repeat: no-repeat;
    margin: 90px;
}

.funcion1{
    width: 1000px;
    height: 550px;
    background-image: url("funcion1.jpg.png");
    background-repeat: no-repeat;
    margin: 90px;
}